data/
.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv
*.json

.venv
venv
.idea
.vscode/
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*

## environment
mlopszc

## self learning folders
self-learning